body {
    font-family: "Avenir Next";
  }

header{
    background-color:aqua;
    color:black;
    height:80px;
}

li{
    list-style:none;
    float:left;
    margin:15px 30px;
}
    
.header-list li{
    font-size:15px;
    float:left;
    padding:30px 20px;
}
    
.header-logo{
    float:left;
    font-size:100px;
    font-weight:bold;

}


.component{
    float:left;
    width:50%;
    background-color: cornsilk;
    padding:20px;
}
.top-wrapper{
    background-image:url(zekkei2.jpg);
    background-size:cover;
    font-size:35px;
    height:500px;
    padding: 180px 0 100px 0;

}

.top-wrapper p {
    text-align:center;
    letter-spacing:5px;
}

.medium-wrapper{
    background-color:white;
    padding: 180px 0 100px 0;
    height:500px;

}
    
footer{
    background-color:aqua;
    color:black;
    height:80px;
}



footer p{
    text-align:center;
    font-size:30px;

}
